.ace_editor { 
	height: 511px;
	}
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
.input-field label {
	color: #000;
  }
#fu{
	display: none;
}
#compilando{
	margin: 0 0 20px 0;
}
#resultado{
	height: 511px;
	padding: 10px;
	max-width: 100%;
	line-height: 1.5;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 1px #999;
	resize: none;	
	background-color: #DEDDD6;
	color:black;
	font: 14px/normal 'Monaco','Menlo','Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}
html {
	scroll-behavior: smooth;
  }

body{
	background-color:#2B9EE6;
}
h1{
	font-family: 'Monaco','Menlo','Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
	font-size:25px;
	letter-spacing:2px;
	word-spacing:2px;
	color:#000000;
	font-weight:700;
	text-decoration: rgb(68,68,68);
	font-variant: normal;
	text-transform:capitalize;
}
#title{
	color: #96A1A9;
}